@{
	ViewData["Title"] = "Perfil";
}
<h1>@ViewData["Title"]</h1>

<p>Sobre o aluno.</p>
<img src="~/novapasta/fotominha.jpg" height="180px" />

<h2>Manuela Domingues</h2>
<p>
	Sou a Manuela Domingues, aluna do curso técnico em Desenvolvimento de Sistemas no SENAI. Tenho facilidade em aprender, sou organizada e gosto de enfrentar desafios. Valorizo o trabalho em equipe e adoro transformar ideias em projetos reais, sempre buscando melhorar minhas habilidades e criar soluções que façam a diferença.
</p>
<div>
	<i class="bi bi-github"></i>
	<a href="https://github.com/manuela582279  ">Github</a>
</div>
<div>
	<i class="bi bi-whatsapp"></i>
	<a href="https://web.whatsapp.com/">Whatsapp</a>
</div>

<div>
	<i class="bi bi-instagram"></i>
	<a href="https://www.instagram.com/  ">Instagram</a>
</div>

<div>
	<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
			<div class="carousel-item active">

				<img src="~/novapasta/céu.png" class="d-block w-50" alt="20px">
			</div>
			<div class="carousel-item">

				<img src="~/novapasta/céu2.png" class="d-block w-50" alt="20px">
			</div>
			<div class="carousel-item">

				<img src="~/novapasta/fotominha.jpg" class="d-block w-50" alt="20px">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>


</div>
